In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("dsc495_0019_a4.ipynb")

# Assignment 4

## Due: Tuesday, February 8, 2022 @ 11:59pm

In this assignment we will get more familiar with Python dictionaries, `.loc`, `'iloc`, and user-defined functions.

I would like you to attempt each level of the assignment. They get progressively harder. To get **full credit** on this assignment, you must complete the first three levels (Levels I, II, and III). Levels IV and V give you a chance to work with some more advanced printing freatures in Python.

**Note:** Try not to delete the instructions of the assignment.

In the markdown cell below enter your name, section, and the date.

**Name:** 

**Section:** 

**Date:**

## Level I

### `DataFrames`

In this assignment we will look at a dataset of wind turbines located in the U.S.

**Question 1.** Import `pandas` as `pd` read the `wind_turbines.csv` file and store it in `turbines`.

In [ ]:
# Imoprt the pandas package
import ... as pd

turbines = 
turbines

In [ ]:
grader.check("q1")

## Level II

Theere is no way (at least no way that I know of) for you to learn and remember all the methods for a `pandas` `DataFrame`. As a data scientist being able to search for help on the internet and read the documentation are two essential skills. We will practice using them in the next two sections.

**Question 2.** List out all the locations that have a wind turbine. Save this to a **list** named `turbine_locations`. There are 43 different locations in the dataset. You can type out all the locations, *or* you can do a search on the following

* "How do list the unique values in a pandas column"

* "How do I convert an array to a list"

then implement a solution programatically (i.e. using code). The choice is yours, the check is only to make sure you get all the locations correct.

In [ ]:
turbine_locations = ...
print(turbine_locations)

In [ ]:
grader.check("q2")

You may have noticed that there are locations that are not US states. Let's make another list that only includes US locations.

**Question 3.** Use list comprehension to remove the non US locations from the `turbine_locations` list. Save this to another list named `us_turbine_locations`. To earn all the points for this question you **must** to use list comprehension.

**Hint:** You will need to use an `if` statement in your list comprehension. You can do a search on the following:

* "How do I use an `if` stement in a list comprehension"

**Warning:** If you use one of the list methods (e.g. `.remove`, `.pop`) or the `del` function you will change the original list and cause Gradescope to mark **Question 2.** as incorrect.

In [ ]:
us_turbine_locations = ...
print(us_turbine_locations)

In [ ]:
grader.check("q3")

Suppose we are interested in the number of wind turbines in each loacation.

<!-- BEGIN QUESTION -->

**Question 4.** Make a dataframe that contains the number of tubines in each location (i.e. use `turbine_locations`). You do not need to save the output to an object. This question will be manually graded.

**Hints:** 

* You can use the `.groupby` dataframe method to group values of a dataframe on one or more column values. 

* You can use the pandas `groupby` `size()` function to count the number of rows in each group of a `groupby` object.

* You can use the `.to_frame()` `Series` method to convert a series object to a dataframe.

**Remember** in this section you are practicing looking up documentation/help/possible solutions on the internet. You can do a search on the following:

* "How do I use `.groupby` to group values in a dataframe"

* How do I count the number of rows in each group of a `groupby` object"

* How do I use the `.to_frame()` `Series` method"

If your code is correct you should see something that looks like the following

|                |**0**|
|----------------|-----|
| **Site.State** |     |
|**AK**          | 120 |
|**AZ**          | 144 |
|**CA**          | 4078|
|**CO**          | 2283|

In [ ]:
...

<!-- END QUESTION -->

## Level III

We are interested in the number of turbines in each location.

**Question 4.** Set `turbine_counts` to the dataframe you displayed in **Question 4.**. Change the name of the column with the total number of turbines to `Count`. 

**Hint:** The `to_frame` method has an opitonal parameter/argument called `name`. Click [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html) to read the documentation.

In [ ]:
turbine_counts = turbines.groupby(['Site.State']).size().to_frame(name="Count")
turbine_counts.head()

In [ ]:
grader.check("q4")

#### Slicing 

Now we will get some practice slicing a datafame by index values.

**Question 5.** Create a new dataframe named `turbines_state_idx` that has the state name as the index.

In [ ]:
turbines_state_idx = ...
turbines_state_idx.head()

In [ ]:
grader.check("q5")

<!-- BEGIN QUESTION -->

**Question 6.** Select all the rows from the `turbines_state_idx` in which the state is North Carolina. You only need to display the dataframe.

In [ ]:
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 7.** Select all the rows from the `turbines_state_idx` in which the location is not a US state. You only need to display the dataframe.

In [ ]:
...

<!-- END QUESTION -->

## Dictionaries

Let make some dictionaries. As a reminder, a dictionary is an unordered and mutable Python container that stores mappings of unique keys to values. Dictionaries are written with curly brackets (`{ }`), including key-value pairs separated by commas (`,`). A colon (`:`) separates each key from its value.

**Question 8.** There are two lists in the cell below. Use the `zip` combine the two lists into a dictionary. Save the object to `state_count_zip`. To earn all the points for this question you **must** use the `zip` function.

In [ ]:
location_key = ['AK', 'AZ', 'CA', 'CO', 'CT', 'DE', 'GU', 
                'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'MA',
                'MD', 'ME', 'MI', 'MN', 'MO', 'MT', 'NC',
                'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 
                'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SD', 
                'TN', 'TX', 'UT', 'VT', 'WA', 'WI', 'WV', 
                'WY']

location_value = [120, 144, 4078, 2283, 2, 1, 1, 119, 4613, 
                  541, 2749, 1264, 2989, 84, 77, 384, 1048, 
                  2460, 503, 508, 104, 1644, 973, 75, 6, 950, 
                  66, 1125, 375, 3965, 1866, 734, 60, 32, 599, 
                  18, 13354, 205, 71, 1727, 450, 375, 1004]

state_count_zip = ...
print(state_count_zip)

In [ ]:
grader.check("q8")

**Question 9.** There are two lists in the cell below (the same two lists from the previous question). Use a `for` loop to combine the two lists into a dictionary. Save the object to `state_count_for`. To earn all the points for this question you **must** use a `for` loop.

In [ ]:
location_key = ['AK', 'AZ', 'CA', 'CO', 'CT', 'DE', 'GU', 
                'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'MA',
                'MD', 'ME', 'MI', 'MN', 'MO', 'MT', 'NC',
                'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 
                'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SD', 
                'TN', 'TX', 'UT', 'VT', 'WA', 'WI', 'WV', 
                'WY']

location_value = [120, 144, 4078, 2283, 2, 1, 1, 119, 4613, 
                  541, 2749, 1264, 2989, 84, 77, 384, 1048, 
                  2460, 503, 508, 104, 1644, 973, 75, 6, 950, 
                  66, 1125, 375, 3965, 1866, 734, 60, 32, 599, 
                  18, 13354, 205, 71, 1727, 450, 375, 1004]

state_count_for = ...

for ...
print(state_count_for)

In [ ]:
grader.check("q9")

## Level IV

### Counting Words

Run the cell below to load the text form all 53 chapters of *Oliver Twist* by charles Dickens and print the first paragraph in Chapter I.

In [ ]:
with open('data/charles-dickens-oliver-twist.txt', 'r') as f:
    ot = f.read()

print(ot[:523])

<!-- BEGIN QUESTION -->

**Question 10.** Print out the last 250 characters of the book.

In [ ]:
...

<!-- END QUESTION -->

**Question 11.** Replace all the `\n` characters with a space `' '`. Save this string to `ot_with_spaces`.

In [ ]:
ot_with_spaces = ...
ot_with_spaces[:250]

In [ ]:
grader.check("q11")

**Question 12.** Split the text up via spaces in the string `ot_with_spaces`. Make sure all the words are lowercase. Save this to a list named `ot_list_of_words`.

In [ ]:
ot_list_of_words = [word.lower() for word in ot_with_spaces.split(" ")]
print(ot_list_of_words[0:10])

In [ ]:
grader.check("q12")

## Level V

### Word Count Dictionary

Out goal is to build a word count dictionary where the key is the word and the value is the number of occurances of the word in the text. We will do this in steps.

**Question 13.** Remove all the punctuation and special characters from the elements in the list `ot_list_of_words`. Save the the result to a list named `ot_list_wo_punctuation`.

**Hint:** You can use the object `string.punctuation` from the `string` module. The `string.punctuation` object contains a string of all the punctuation symbols and special characters.

```
import string 
string.punctuation
```

In [ ]:
import string 
string.punctuation
# Initialize empty list
ot_list_wo_punctuation = ...

# Loop over the list of words and remove 
# punctuation and special characters
...
print(ot_list_wo_punctuation[0:50])

In [ ]:
grader.check("q13")

**Question 14.** Iterate through the words in `ot_list_wo_punctuation` and count the number of times each word occurs. Store the count in a dictionary where the key is the word and the number of occurances of the word is the count. Do not count the blank spaces. Store the dictionary in `ot_word_count_dict`. For example,

```
{'among': 56,
 'other': 227,
 'public': 20, 
 ... }
```

In [ ]:
# Initialize an empty dictionary
ot_word_count_dict = ...

# Loop over the list of words and remove 
# punctuation and special characters
...
list(ot_word_count_dict)[:10]

In [ ]:
grader.check("q14")

<!-- BEGIN QUESTION -->

**Question 15.** Use a loop to the first 20 key/value pairs in the dictionary. For example,

```
among': 56
other': 227
public': 20
buildings : 4
in : 2351
a : 3668
...
```

In [ ]:
...

<!-- END QUESTION -->

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by finding it in the file browswer on the left side of the screen, then right-click and select **Download**. You'll submit this .zip file for the assignment in Canvas to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)